{% block carrosselCatalogo %}
    <div class="container-cards">
      <h5 class="container-cards-title">Titulo</h5>
      <div class="container-cards-scroll">
        <div class="container-cards-item">
          <img src="{% static 'img\livro-furgeri.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-guerra-dos-tronos.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-machado-de-assis.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-manual-direito-penal.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-musashi.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-o-cacador-de-pipas.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-o-cortico.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-pmi-guide-book.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-senhor-dos-aneis.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-use-a-cabeca-java.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-furgeri.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-guerra-dos-tronos.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-machado-de-assis.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-manual-direito-penal.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-musashi.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-o-cacador-de-pipas.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-o-cortico.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-pmi-guide-book.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-senhor-dos-aneis.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-use-a-cabeca-java.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-furgeri.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-guerra-dos-tronos.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-machado-de-assis.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-manual-direito-penal.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-musashi.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-o-cacador-de-pipas.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-o-cortico.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-pmi-guide-book.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-senhor-dos-aneis.jpg' %}" alt="" />
        </div>
        <div class="container-cards-item">
          <img src="{% static 'img\livro-use-a-cabeca-java.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    {% endblock %}